@use '../../global.scss' as *;

.Tarefas{
    color: $branco;
    display: flex;
    justify-content: space-around;
    p{
        width: calc(100%/3);
        font-weight: 400;
        font-size:25px
    }
    .p-title{
        margin-left: 3%;
        text-align: left;
    }
}